<nav>
    <button routerLink="/bienvenida">Ir atrás</button>
</nav>

<div class="login-container">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <input  type="email" formControlName="email" placeholder="Email">

        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
            <small class="alert">

                @if(loginForm.get('email')?.errors?.['required']){
                    El email es obligatorio
                }

                @if(loginForm.get('email')?.errors?.['email']){
                    El formato es inválido
                }

            </small>
        }

        <input  type="password" formControlName="password" placeholder="Password">

        @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
            <small class="alert">

                @if(loginForm.get('password')?.errors?.['required'])
                {
                    La contraseña es obligatoria
                }
                @if(loginForm.get('password')?.errors?.['minlength'])
                {
                    El mínimo de caracteres es 6
                }

            </small>
        }

        <!-- ERROR -->
        @if(errorMensaje()){
            <small class="alert">{{ errorMensaje() }}</small>
        }

        <!-- BOTON LOGIN -->
        <button type="submit" [disabled]="loading()">

            @if(loading()){
                Cargando...
            }@else{
                Ingresar
            }

        </button>

        <div class="quick-login">

            <h3>Acceso rápido</h3>

            <button type="button" [disabled]="loading()" (click)="loginRapidoPepe()">
                Pepe
            </button>

            <button type="button" [disabled]="loading()" (click)="loginRapidoTomas()">
                Tomas
            </button>

            <button type="button" [disabled]="loading()" (click)="loginRapidoJorge()">
                Jorge
            </button>

        </div>

    </form>

</div>